
<header><h1><%= infoNau.nom %></h1></header>

<div class="container">
    <img src="<%= infoNau.img %>" alt="Satelite">
    <h2>Información</h2>
    <p><strong>Nombre: </strong><%= infoNau.nom %></p>
    <p><strong>Any: </strong><%= infoNau.any %></p>
    <p><strong>País: </strong><%= infoNau.pais %></p>
    <p><strong>Descripción: </strong><%= infoNau.descripcio %></p>
    
</div>
